.color-light{
    color: rgb(172, 170, 170);
}

.color-cyan{
    color: rgb(0, 204, 204);
}

.font-lg{
    font-size: 60pt;
}

.bg-gray{
    background-color: rgb(95, 90, 90);
}

.bg-lighter{
    background-color: rgb(241, 241, 241);
}

.ad1{
    border-radius: 20px;
}

.ad2{
    border-radius: 40px;
}

.font-md{
    font-size: 20pt;
}


@media only screen and (max-width: 920px) {
    .font-md {
      font-size: 12pt;
    }
  }